.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card.collected {
    opacity: 0.5;
    border: 2px solid #22c55e;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}